.footer {
    ul {
        list-style-type: none;

        h4 {
            font-weight: 700;
            font-size: 20px;
        }

        li {
            color: #949494;
            font-size: 15px;
            font-weight: 500;
            padding: 7px 0px;
            cursor: pointer;

            h6 {
                font-size: 18px;
            }

            .second {
                color: #00b2ff;
            }
        }
    }

    hr {
        color: #ececec;
        height: 2px;
    }

    .last-footer {
        .logo {
            padding-bottom: 10px;

            img {
                height: 26px;
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            padding-left: 0px !important;

            font-size: 13px;

            li {
                cursor: pointer;
                color: #949494;
                font-size: 13px;

                &:hover {
                    font-weight: 700;
                    color: black;
                    border-bottom: 2px solid #ff7b29;
                }
            }
        }

        .contact {
            padding: 5px 0px;

            svg {
                cursor: pointer;
                font-size: 22px;
                color: #949494;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .last-footer {
            .logo {
                text-align: center;
            }

            ul {
                li {
                    display: inline;
                }
            }
        }
    }
}